antlr4-python3-runtime==4.8
apiai==1.2.3
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
comtypes==1.1.11
fuzz==0.1.1
fuzzywuzzy==0.18.0
gTTS==2.2.4
html2text==2020.1.16
idna==3.3
numpy==1.22.3
omegaconf==2.1.2
Pillow==9.0.1
PyAudio==0.2.11
pycparser==2.21
pypiwin32==223
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pyttsx3==2.90
pywin32==303
PyYAML==6.0
requests==2.27.1
silero==0.1.0
six==1.16.0
sounddevice==0.4.4
soupsieve==2.3.2
SpeechRecognition==3.8.1
torch==1.10.0
torchaudio==0.10.0
typing_extensions==4.2.0
urllib3==1.26.9
vosk==0.3.32
wincertstore==0.2
